.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #ffe8eb;
}

.control-buttons {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.shoppingCart {
    padding: 25px;
    width: 100%;
    text-align: center;
    /*margin: 40px auto;*/
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background: #ffffff;
}

a.list-group-item:hover,
a.list-group-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #FF4FC0;
}

.editing-form {
    padding: 25px;
    max-width: 400px;
    text-align: left;
    margin: 40px auto;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background: #ffffff;
}

a {
    color: #FF4FC0;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #df3e8e;
    text-decoration: underline;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #FF3284;
    border-color: #d22f6d;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #FF3284;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #ff3ba2;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}